In [2]:
prin("hello world")

NameError: name 'prin' is not defined

In [4]:
print(1/0)

ZeroDivisionError: division by zero

In [13]:
for i in range(5):
    number = input("enter name")
    num = int(number)
    print(num**2)

    print(" Very important information")

    from math import sqrt

    sqrt(1/num)

    print(" Very important information 2")

enter name 5

25
 Very important information
 Very important information 2

enter name 2

4
 Very important information
 Very important information 2

enter name 7

49
 Very important information
 Very important information 2

enter name 0

0
 Very important information

ZeroDivisionError: division by zero

# try - except

In [22]:
a =  5 #int(input("enter first num"))
b =  0 #int(input("enter second num"))


try:
    print(a/b)
except: 
    print(" there is an error") 
    print("b seems to be 0")

 there is an error
b seems to be 0

In [31]:
counts_work_hours  = 0
total_salary = 200

try:
    
    print(total_salary/counts_work_hours)
    total_salary = 500
except:
    try :
        print(1/0)
    except:
        import zero
    
print("Salary process " + str(total_salary))

ModuleNotFoundError: No module named 'zero'

In [26]:
import zero

ModuleNotFoundError: No module named 'zero'

In [27]:
print(total_salary/counts_work_hours)

ZeroDivisionError: division by zero

In [28]:
a = int(input("enter num"))

enter num ma

ValueError: invalid literal for int() with base 10: 'ma'

In [32]:
# list exception ans warning


print(dir(locals()['__builtins__']))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BaseExceptionGroup', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EncodingWarning', 'EnvironmentError', 'Exception', 'ExceptionGroup', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'aiter', 'all', 'anext', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

In [34]:
import math

math.exp(10000) # e = 3-4

OverflowError: math range error

In [43]:
try :
    import math
    
    a = "ma" + 123
except Exception as e:
    print(e)

can only concatenate str (not "int") to str

In [55]:
try :
    1/0
except ArithmeticError as ae:
    print('4')
    print(ae)
except ZeroDivisionError as zde:
    print('2')
    print(zde)
except ModuleNotFoundError as mne:
    print('3')
    print(mne)
except Exception as e:
    print('1')
    print("we faced an exception")

4
division by zero

In [ ]:
if quadrilateral:
    pass
elif square:
    pass
elif rectangle:
    pass
elif trapezoid:
    pass

# else

In [60]:
try :
    math.exp(10000)
except ArithmeticError as ae:
    print('4')
    print(ae)
else:
    print(" i am in else statement")
    print("looks like you didn't faced an error")

4
math range error

# Finally

In [62]:
try :
    pass
except ArithmeticError as ae:
    print('4')
    print(ae)
finally:
    print(" hi, you will always see me here")

 hi, you will always see me here

In [63]:
def fun():
    try :
        return 1
    except ArithmeticError as ae:
        print('4')
        print(ae)
        return 2
    finally:
        print(" hi, you will always see me here")

In [65]:
fun()

 hi, you will always see me here

1

# Big basket

In [68]:
try:
    print("pay amount via CC")
except: 
    print("payment failed")

pay amount via CC

In [71]:
class DB:
    def conn(self):
        print ("connected")
        print("charging you 1000 rupees per second till you are connected")
        
    def close(self):
        print ("connection closed")
    def get(self):
        print ("here are your 500 records")

In [88]:
db = DB()

try :
    db.conn()
    math.exp(143151)
except OverflowError:
    print(")" + 1/0)

finally:
    db.close()

connected
charging you 1000 rupees per second till you are connected
connection closed

ZeroDivisionError: division by zero

# Raise

In [89]:

try :
    pass
except:
    pass
else:
    print("ELSE")
finally:
    print("FINAL")

ELSE
FINAL

# Wap to ask 2 numbers from user and thier some.

In [92]:
a = 10
b = 0

try : 
    if(b==0):
        raise OverflowError
    ans = a/b
except OverflowError as oe:
    print("This is what i will do for overflow error and other error")

This is what i will do for overflow error and other error

# Custom Error

In [117]:
class SalaryTooHighError(Exception):
    def __init__(self,msg):
        self.msg = msg

In [133]:
class Employee:
    def __init__(self,salary):            
        self.salary = salary
    def getSalary(self):
        if(self.salary > 1e8):
            raise SalaryTooHighError("The salary seems to be too high, please check the same fadnga " + str(self.salary))
        return self.salary

In [134]:
p1 = Employee(10000)
p2 = Employee(1e10)

In [135]:
try :
    p2.getSalary()
except SalaryTooHighError as sth:
    print(sth)

The salary seems to be too high, please check the same fadnga 10000000000.0

In [139]:
class InvalidAgeError(Exception):
    def __init__(self,age):
        self.age = age
        super().__init__(f"Invalid Age {age}. Age should not be negative")

In [140]:
class InvalidEmailError(Exception):
    def __init__(self,email):
        self.email = email
        super().__init__(f"Invalid email {email}. email should contain @ and .")

In [141]:
# Define the Person class
class Person:
    def __init__(self, name, age, email):
        self.name = name
        # Validate age

        
        if age <= 0:
            raise InvalidAgeError(age)
        self.age = age
        # Validate email format
        if "@" not in email or "." not in email:
            raise InvalidEmailError(email)
        self.email = email

In [143]:
p1 = Person("mayank",-1,"mayank@abc.com")

InvalidAgeError: Invalid Age -1. Age should not be negative

In [146]:
# Example usage
try:
    # Trying to create a person with invalid age
    person1 = Person("Alice", -25, "alice@example.com")
except Exception as e:
    print(e)

Invalid Age -25. Age should not be negative

In [145]:

try:
    # Trying to create a person with invalid email format
    person2 = Person("Bob", 30, "bobexample.com")
except InvalidEmailError as e:
    print(e)

Invalid email bobexample.com. email should contain @ and .