# Working with SQL Databases in Python

## Introduction

SQL (Structured Query Language) is a standard language for accessing and manipulating databases. SQL is used to perform various operations on the data stored in databases, such as querying, updating, inserting, and deleting data.

Python provides various libraries to connect to SQL databases. One of the most commonly used libraries for SQL databases is `sqlite3`, which allows you to work with SQLite databases. SQLite is a self-contained, serverless, and zero-configuration database engine, making it ideal for local development and testing.

In this tutorial, we will:
1. Explain how to connect to a SQL database via Python.
2. Connect to a SQL database using Python.
3. Show basic SQL commands to work with data.
4. Perform CRUD operations (Create, Read, Update, Delete).
5. Perform some complex operations using SQL and Python.

# in SQLlite3 it is not connecting to any online DB so everything is in local, but good for practicing

## Connecting to a SQL Database via Python

To connect to a SQL database using Python, you need to import the `sqlite3` module. This module provides a lightweight disk-based database that doesn't require a separate server process.

Here's how to connect to an SQLite database:

In [4]:
import sqlite3

# Connect to the database (or create it if it doesn't exist)
conn = sqlite3.connect('example.db')

# Create a cursor object to execute SQL commands
cur = conn.cursor()

print('Database connected successfully!')

Database connected successfully!

## Basic SQL Commands

Once connected to the database, you can execute SQL commands using the cursor object. Here are some basic SQL commands to work with data:

- **CREATE TABLE**: Creates a new table in the database.
- **INSERT INTO**: Inserts new data into a table.
- **SELECT**: Retrieves data from a table.
- **UPDATE**: Updates existing data in a table.
- **DELETE**: Deletes data from a table.
- **DROP TABLE**: Deletes a table from the database.

### Creating a Table

Let's create a table named `students` with columns `id`, `name`, and `age`.

In [6]:
# Create a table named students
cur.execute('''
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER NOT NULL
)
''')

# Commit the changes
conn.commit()

print('Table created successfully!')

Table created successfully!

### Inserting Data into the Table

Now, let's insert some data into the `students` table.

In [8]:
# Insert data into the students table
cur.execute("INSERT INTO students (name, age) VALUES ('Alice', 21)")
cur.execute("INSERT INTO students (name, age) VALUES ('Bob', 22)")
cur.execute("INSERT INTO students (name, age) VALUES ('Charlie', 23)")

# Commit the changes
conn.commit()

print('Data inserted successfully!')

Data inserted successfully!

### Retrieving Data from the Table

We can retrieve data from the `students` table using the `SELECT` statement.

In [10]:
# Retrieve data from the students table
cur.execute("SELECT * FROM students")
rows = cur.fetchall()

for row in rows:
    print(row)

(1, 'Alice', 21)
(2, 'Bob', 22)
(3, 'Charlie', 23)
(4, 'Alice', 21)
(5, 'Bob', 22)
(6, 'Charlie', 23)

### Updating Data in the Table

We can update existing data in the `students` table using the `UPDATE` statement.

In [5]:
# Update data in the students table
cur.execute("UPDATE students SET age = 24 WHERE name = 'Charlie'")

# Commit the changes
conn.commit()

print('Data updated successfully!')

# Verify the update
cur.execute("SELECT * FROM students")
rows = cur.fetchall()

for row in rows:
    print(row)

(1, 'Alice', 21)
(2, 'Bob', 22)
(3, 'Charlie', 23)
(4, 'Dave', 24)

### Deleting Data from the Table

We can delete data from the `students` table using the `DELETE` statement.

In [6]:
# Delete data from the students table
cur.execute("DELETE FROM students WHERE name = 'Charlie'")

# Commit the changes
conn.commit()

print('Data deleted successfully!')

# Verify the deletion
cur.execute("SELECT * FROM students")
rows = cur.fetchall()

for row in rows:
    print(row)

(1, 'Alice', 21)
(2, 'Bob', 22)

## Complex Operations

Let's explore some complex operations that we can perform on the database using Python:

### Joining Tables

We can join two or more tables using the `JOIN` statement. Let's create another table `courses` and demonstrate a join operation.

In [7]:
# Create a table named courses
cur.execute('''
CREATE TABLE IF NOT EXISTS courses (
    course_id INTEGER PRIMARY KEY,
    student_id INTEGER,
    course_name TEXT NOT NULL,
    FOREIGN KEY (student_id) REFERENCES students (id)
)
''')

# Commit the changes
conn.commit()

print('Courses table created successfully!')

### Inserting Data into the Courses Table

In [8]:
# Insert data into the courses table
cur.execute("INSERT INTO courses (student_id, course_name) VALUES (1, 'Mathematics')")
cur.execute("INSERT INTO courses (student_id, course_name) VALUES (2, 'Physics')")
cur.execute("INSERT INTO courses (student_id, course_name) VALUES (1, 'Chemistry')")

# Commit the changes
conn.commit()

print('Data inserted into courses table successfully!')

### Joining the Students and Courses Tables

We can join the `students` and `courses` tables to get a combined view of student and course data.

In [9]:
# Join the students and courses tables
cur.execute('''
SELECT students.id, students.name, students.age, courses.course_name
FROM students
JOIN courses ON students.id = courses.student_id
''')

rows = cur.fetchall()

for row in rows:
    print(row)

(1, 'Alice', 21, 'Mathematics')
(1, 'Alice', 21, 'Chemistry')
(2, 'Bob', 22, 'Physics')

### Handling Transactions

Transactions are used to ensure that a series of SQL operations are executed as a single unit. This means that either all operations are executed successfully, or none are executed at all.

Here's how to handle transactions in SQLite using Python:

In [10]:
try:
    # Start a transaction
    cur.execute("BEGIN TRANSACTION")
    
    # Perform multiple SQL operations
    cur.execute("INSERT INTO students (name, age) VALUES ('Dave', 24)")
    cur.execute("INSERT INTO courses (student_id, course_name) VALUES (4, 'Biology')")
    
    # Commit the transaction
    conn.commit()
    print('Transaction committed successfully!')
except Exception as e:
    # Rollback the transaction in case of error
    conn.rollback()
    print('Transaction rolled back due to error:', e)

### Closing the Database Connection

Finally, always close the database connection when you're done to free up resources.

In [11]:
# Close the database connection
conn.close()
print('Database connection closed!')