# MySQL Database Operations with Python


This notebook demonstrates how to connect to a MySQL database, fetch all tables, and perform basic CRUD operations using Python. We'll use the `mysql-connector-python` library for database connectivity.

In [ ]:
# DB Credentials

Host: sql12.freesqldatabase.com
Database name: sql12716720
Database user: sql12716720
Database password: 12BVgJsVAG
Port number: 3306

In [ ]:
# Install the mysql-connector-python library if you haven't already
!pip install mysql-connector-python

## Connecting to the Database

We'll start by connecting to the MySQL database using the provided credentials.

In [1]:
import mysql.connector
from mysql.connector import Error

# Function to create a database connection
def create_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("Connection to MySQL DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")
    return connection

# Connect to the database
connection = create_connection(
    "sql12.freesqldatabase.com", "sql12716720", "12BVgJsVAG", "sql12716720"
)

Connection to MySQL DB successful

In [ ]:
connection.close()

In [3]:
connection

## Fetching All Table Names

Next, we'll fetch and display all the table names in the connected database.

In [10]:
# Function to fetch all table names
def fetch_tables(connection):
    cursor = connection.cursor()
    try:
        cursor.execute("SHOW TABLES")
        tables = cursor.fetchall()
        return tables
    except Error as e:
        print(f"The error '{e}' occurred")
        return None

# Fetch and print all table names
if connection:
    tables = fetch_tables(connection)
    if tables:
        print("Tables in the database:")
        for table in tables:
            print(table[0])

Tables in the database:
students
test_table

## Creating a New Table

We'll create a new table named `test_table` to demonstrate basic CRUD operations.

In [ ]:
# Function to execute a single query
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")

In [8]:

# Create a new table
create_test_table = """
CREATE TABLE IF NOT EXISTS test_table (
    id INT AUTO_INCREMENT, 
    name TEXT NOT NULL, 
    age INT, 
    PRIMARY KEY (id)
) ENGINE = InnoDB
"""
execute_query(connection, create_test_table)

Query executed successfully

## Inserting Data into the Table

Now, we'll insert some data into the `test_table`.

In [12]:
# Insert data into the table
insert_data = """
INSERT INTO test_table (name, age) VALUES 
('Alice', 21),
('Bob', 22),
('Charlie', 23)
"""
execute_query(connection, insert_data)

Query executed successfully

## Reading Data from the Table

We'll read and display the data from the `test_table`.

In [14]:
# Function to execute a query and fetch all results
def execute_read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as e:
        print(f"The error '{e}' occurred")

In [16]:


# Read data from the table
select_data = "SELECT * FROM test_table"
data = execute_read_query(connection, select_data)

print("Data in test_table:")
for row in data:
    print(row)

Data in test_table:
(1, 'Alice', 21)
(2, 'Bob', 22)
(3, 'Charlie', 23)

## Updating Data in the Table

We'll update the age of one of the records in the `test_table`.

In [26]:
# Update data in the table
update_data = """
UPDATE test_table
SET age = 29
WHERE name = 'Charlie'
"""
execute_query(connection, update_data)

Query executed successfully

## Reading Data to Verify the Update

We'll read and display the data from the `test_table` to verify the update.

In [32]:
# Read data to verify the update
data = execute_read_query(connection, select_data)

print("Data in test_table after update:")
for row in data:
    print(row)

Data in test_table after update:
(1, 'Alice', 21)
(2, 'Bob', 22)

## Deleting Data from the Table

We'll delete one of the records from the `test_table`.

In [30]:
# Delete data from the table
delete_data = """
DELETE FROM test_table
WHERE name = 'Charlie'
"""
execute_query(connection, delete_data)

Query executed successfully

## Reading Data to Verify the Deletion

We'll read and display the data from the `test_table` to verify the deletion.

In [34]:
# Read data to verify the deletion
data = execute_read_query(connection, select_data)

print("Data in test_table after deletion:")
for row in data:
    print(row)

Data in test_table after deletion:
(1, 'Alice', 21)
(2, 'Bob', 22)

## Closing the Database Connection

Finally, we'll close the database connection.

In [36]:
# Close the database connection
connection.close()
print('Database connection closed!')

Database connection closed!